/* 登录页面 */
html{
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    font-family: sans-serif;
}
body{
    font-size: 14rem;
}
#login_back_img1{
    width: 100%;
    height: 100%;
    min-width: 1200px;
}
.login_back_img{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: url(../img/loginpageimage7.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.login_main{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 922px;
    height: 520px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
}
.login_slogan{
    width: 508px;
    height: 470px;
    /* background-size: 324px auto;    */
}
.login_webname{
    height: 470px;
    font-size: 30px;
    color: #555ab5;
    opacity: 0.7;
    display: flex;
    margin: auto;
    align-items:center;
    letter-spacing: 5px;
}

.login_form{
    width: 414px;
    height: 470px;
    border-radius: 8px;
    background-color: #fff;
    box-sizing: border-box;
    padding: 49px 28px;
}
.login_form_header{
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #676cc4;
    letter-spacing: 10px;
    margin-bottom: 36px;
}
.define_form_item,.define_form_selector{
    height: 40px;
    width: 100%;
    border-radius: 2px;
}
.define_form_selector{
    background-color: #f5f6f9;
    display: flex;
    flex-direction: row;
}
/* .define_form_selector_search .define_form_selector_input{
    position: absolute;
    width: 320px;
    height: 40px;
} */
.define_form_selector_input{
    /* position: absolute; */
    outline: none;
    border: none;
    background-color: transparent;
    margin-left: 10px;
    width: 310px;
    height: 40px;
}
.define_form_selector_iconwrap{
    position: relative;
    width: 12px;height: 40px;
    margin-right: 10px;
    /* margin: auto;right: 10px;top: 0;bottom: 0; */
}
.define_form_selector_icon{
    display: block;
    position: absolute;
    width: 12px;height: 12px;
    background-image: url(../img/bold.png);
    background-repeat: no-repeat;
    margin: auto;right: 0;top: 0;bottom: 0;left: 0;
}


